* {
    margin: 0;
    padding: 0;  
}
@font-face {
    font-family: 'bluu';
    src: url('./fonts/bluunext-bold-webfont.woff2') format('woff2'),
         url('./fonts/bluunext-bold-webfont.woff') format('woff'),
         url('./fonts/bluunext-bold.ttf') format('truetype'),
         url('./fonts/bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bluu';
    src: url('./fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('./fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('./fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins-light';
    src: url('./fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal; 
}
@font-face {
    font-family: 'poppins-medium';
    src: url('./fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'poppins-semi-bold';
    src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'poppins-bold';
    src: url('./fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 769px) {
    .desktop{
        display: block;
        height: 100%;
        width:100%;
    }
    .mobile{
        display: none;
    }
    .home-title:hover{
    -webkit-text-stroke: 1px #FF7CD5;
    /*cursor: pointer;*/
    }
}

/* Mobile ----------- */
@media only screen and (max-width : 768px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        height: 100%;
        width:100%;
    }
    .mobile-nav-bar{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%
    }
    .mobile-nav-bar-bottom{
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%
    }
    .nav-option-1, .nav-option-2, .nav-option-3{
        color: black;
        font-size: 6vw;
        font-family: "poppins-light"
    }
    .nav-option-1{
        padding-left: 5%;
    }
    .nav-option-2{
        padding-right: 5%;
    }
    .content{
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        justify-content: space-around;
        align-items: center;
    }
    .swiper-container {
        width: 100vw;
        height: 100vh;
    }
    .swiper-slide{
        width: 100vw;
        height: 100vh;
    }
    .swiper-wrapper{
        width: 100vw;
        height: 100vh;
    }
    .home-title{
        font-size: 15vw;
    }
    .arrow-container{
        /* bottom: 10%; */
        height: 3em;
        width: 100%;
        /* position: absolute; */
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        /*margin-bottom: 8%;*/
    }
    .arrow-down{
        height: 100%;
        width: auto;
    }
    .home-image{
        height: 70vh !important;
        max-width: none !important;
    }
    /*WORK*/
    .work-icon-container{
        height:100%;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .work-icon{
        height: 80%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .work-icon img{
        height: auto;
        max-width: 75%;
        max-height: 85%;
    }
    /*BIO*/
    .bio-container{
        height: 75%;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bio-container img{
        height: 35vh;
        width: auto;
        box-shadow: 0 2px 4px 0 #FF7CD5;
    }
    .text-container{
        display: flex;
        flex-direction: column;
    }
    .text-container p{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .text-container h1, .text-container li{
        padding-left: 5%;
        padding-right: 5%;
    }
    .text-container h1{
        text-align: center;
    }
    .text-container li{
        font-family: "poppins-light"
    }
}


body{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    cursor: url('./images/cursor/crouton.png'), default;
}
h1{
    font-family: "bluu";
    font-size: 5vh;
}
h2{
    font-family: "bluu";
    font-size: 2vh;
    font-weight: 100;
}
h3{
    font-family: "bluu";
    font-size: 3vh;
}
p{
    font-family: "poppins-light";
    font-size: 3.5vw;
}
li{
    font-size: 3.5vw;
}
.bold{
    font-family: "poppins-medium";
}


/*ENTER PAGE*/
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.home-title{
    font-family: 'bluu', times, sans-serif;
    font-size: 12vw;
    text-align: center;
    -webkit-text-stroke: 1px #FEFF94;
    color: transparent;
    transition: -webkit-text-stroke 0.5s ease;
    position: absolute;
    width: 100%; 
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%); 
    -o-transform: translateY(-50%); 
    transform: translateY(-50%); 
}

.home-image{
    display: block;
    max-width: 30vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    position: relative;
}

/*WORK*/
.toolbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
}
.link-home{
    -webkit-text-stroke: 1px #5098FF;
    color: transparent;
    padding-left: 5%;
    cursor: pointer;
}
.toolbar-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5098FF;
    width: 50%;
    padding-right: 5%;
}
.toolbar-option{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.toolbar-select {
    display: none;
}
    
.toolbar-option:hover .toolbar-select {
    display: block;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    border: 1px solid #5098FF;
    cursor: pointer;
}

