/* ALL CSS LIVES HERE... */

* {
    margin: 0;
    padding: 0;  
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

@font-face {
    font-family: 'bluu';
    src: url('./fonts/bluunext-bold-webfont.woff2') format('woff2'),
         url('./fonts/bluunext-bold-webfont.woff') format('woff'),
         url('./fonts/bluunext-bold.ttf') format('truetype'),
         url('./fonts/bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bluu';
    src: url('./fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('./fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('./fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppins-light';
    src: url('./fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal; 
}
@font-face {
    font-family: 'poppins-medium';
    src: url('./fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'poppins-semi-bold';
    src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'poppins-bold';
    src: url('./fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 769px) {
    .desktop{
        display: block;
        height: 100%;
        width:100%;
    }
    .mobile{
        display: none;
    }
    .home-title:hover{
    -webkit-text-stroke: 1.25px #FF7CD5;
    }
}


/* Mobile ----------- */
@media only screen and (max-width : 768px) {
    .mobile-nav-bar{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%
    }
    .mobile-nav-bar-bottom{
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%
    }
    .nav-option-1, .nav-option-2, .nav-option-3{
        color: black;
        font-size: 6vw;
        font-family: "poppins-light"
    }
    .nav-option-1{
        padding-left: 5%;
    }
    .nav-option-2{
        padding-right: 5%;
    }
    .content{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .swiper-container {
        width: 100vw;
        height: 100vh;
    }
    .swiper-slide{
        width: 100vw;
        height: 100vh;
    }
    .swiper-wrapper{
        width: 100vw;
        height: 100vh;
    }
    .home-title{
        font-size: 15vw;
    }
    .arrow-container{
        height: 3em;
        width: 100%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
    }
    .arrow-down{
        height: 100%;
        width: auto;
    }
    .home-image{
        height: 70vh !important;
        max-width: none !important;
    }
   
    /*BIO*/
    .bio-container{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0;
    }
    .bio-container img{
        height: 35vh;
        width: auto;
        box-shadow: 0 2px 4px 0 #FF7CD5;
    }
    .text-container{
        display: flex;
        flex-direction: column;
    }
    .text-container p{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .text-container h1, .text-container li{
        padding-left: 5%;
        padding-right: 5%;
    }
    .text-container h1{
        text-align: center;
    }
    .text-container li{
        font-family: "courier new"
    }
} 
 

/* DESKTOP*/
body{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    cursor: url('./images/cursor/crouton.png'), default;
}
h1{
    font-family: "bluu";
    font-size: 1.2em;
}
h2{
    font-family: 'courier new';
    font-size: 0.95em;
    font-weight: 100; 
}
h3{
    font-family: "bluu";
    font-size: 3vh;
}
h4{
    font-family: 'courier new';
    font-size: 4.75vh;
    font-weight: 100;
}
p{
    font-family: 'courier new';
    font-weight: 100;
    font-size: 3.5vw;
}
li{
    font-size: 3.5vw;
}
.back-arrow{
    font-size: 2em;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.main-container-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    width: 100vw;
}
.content-container{
    flex: 1;
    padding-top: 5%;
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap:wrap;
}
.content-container::-webkit-scrollbar { 
    display: none; 
}

.image-wrapper {
    width:100%;
    height: 100%;
    justify-content: center;
}
::-webkit-scrollbar
{
    width: 0; 
    height: 2vh;
}

::-webkit-scrollbar-track
{
    background: rgba(255, 255, 255);
}

::-webkit-scrollbar-thumb
{
    background:rgba(255, 255, 255);
    border: 1px solid #FF7CD5;
}

/*ENTER PAGE*/
.landing-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    width: 100vw;
}
/* .home-title{
    font-family: 'bluu', times, sans-serif;
    font-size: 12vw;
    text-align: center;
    -webkit-text-stroke: 1.25px #FEFF94;
    color: transparent;
    transition: -webkit-text-stroke 0.5s ease;
    position: absolute;
    width: 100%; 
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%); 
    -o-transform: translateY(-50%); 
    transform: translateY(-50%); 
    top: 50%;
} */

.home-image{
    display: block;
    max-width: 30vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    position: relative;
}
.website-selection-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3%;
}
.website-selection-container h3, .website-selection-container a{
    width: 33.3%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2846F6;
}
.website-selection-container a h3{
    width: 100%;
}

/*NavBar*/
.toolbar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.toolbar{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 5vh;
    z-index: 99999;
    max-width: 100vw;
    margin-top: 5%;
}
button{
    display: none;
}
.link-home{
    -webkit-text-stroke: 1px #2846F6;
    font-size: 1.5em;
    color: transparent;
    /* padding-left: 5%; for horizontal*/
    cursor: pointer;
    height: auto;
    text-align: center;
}
.toolbar-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    width: 50%; 
    /* width:19em; */
    padding: 1% 1% 0% 1%;
}
.toolbar-option{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    text-align: center;
}   
.toolbar-option:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
}
.mobile-toolbar{
    display:none;
}

/*WORK*/
.work-icon:nth-child(3n){
    clear: left
}
.work-icon{
    height:60vh;
    padding: 5%;
}
.work-icon a{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.work-icon a img{
    width: auto;
    /* object-fit: scale-down; */
    /* height: 100%; */
}
.p1{
    height: 100%;
}
.p2{
    height: 90%;
}
.p3{
    height: 100%;
}
.p4{
    height: auto;
}
.p5{
    height: 60%;
}
.p6{
    height: 100%;
}

.work-icon a img:hover{
     -webkit-filter: drop-shadow(5px 5px 5px #FF7CD5); 
    filter: drop-shadow(5px 5px 5px #FF7CD5);
    cursor: pointer;
}   


/*BIO CV  */

.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bio-img-container{
    height: 30vh;
    display: flex;
    justify-content: right;

}
.bio-img-container img{
     /* -webkit-filter: drop-shadow(5px 5px 5px #FF7CD5); 
    filter: drop-shadow(5px 5px 5px #FF7CD5); */
    max-height: 100%;
    height: 100%;
    width: auto;
    /* max-width: 100%; */
}
.bio-text-container{
    padding-top: 10%;
}
.bio-text-container h2{
    padding-top: 5%;
}

/*CONTACT*/
.contact-container{
    /* height: 100%; */
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 10%;
}
.contact{
    width: 50%;
    /* height: 20%; */
    height: 10em;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SHOW */
.show-content-container{
    width: 95%;
    /* height: 90vh; */
    flex: 1;
    padding-top: 5%;
    overflow: hidden;
    display: flex;
    /* padding-top: 20vh; */
}
.show-title{
    width: 25%;
    padding-right: 5%;
}
.show-images{
    height: 90%;
    width: 75%;
    display: flex;
    white-space:nowrap;
}
.img-wrapper{
    height: 100%;
    width: 70%;
    /* margin: auto; */
    display: inline;
}
.img-wrapper img{
    max-height:100%;
    height:auto; /* CHANGE */
    width: auto;
    max-width:200%;
    margin-right: 15%;
    overflow-x: hidden;
}
.img-wrapper iframe{
    height:100%; /* CHANGE */
}
.show-images ul{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-x: scroll;
}

/* DOULA SITE STYLES */
.doula-content-container{
    width:80%;
    height: 100%;
    padding: 1.75em 0 1.75em 0;
    display: flex;
    flex-direction:column;
}

/* DOULA SERVICES */
.doula-services-main-container{
    height: 100%;
    width: 100%;
    padding-top: 1.5em;
    display: flex;
    justify-content: space-between;
}
.doula-service-image{
    width: 45%;
    height: auto;
}
.doula-services-options{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.doula-service-container{
    width:80%;
    display:flex;
    flex-direction:column;
    margin-top: 2em;
}
.doula-service{
    width:auto;
}
.doula-dropdown{
    display: flex;
    align-items: center;
    justify-content: start;
}
.doula-dropdown-button{
    display: block;
    outline: none;
    border: none;
    font-size: 1.5em;
    /* position: fixed; */
    cursor: pointer;
}
.doula-service-title{
    margin-left: 1.5em;
}
.doula-service-details{
    margin-top: 1.2em;
    margin-left: 1.5em;
}
/* DOULA CONTACT */
.doula-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}
.doula-logo{
    height: 12em;
}



/* MOBILE STYLES */
@media only screen and (max-width: 1050px) and (min-width: 736px) {  
    /* .toolbar-options{
        width: 19em;
    } */
}
@media only screen and (max-width: 735px) and (min-width: 0px) {
    .link h2{
        font-size: 2.25vh !important;
    }                                                                                                                                    
    .main-container-2{
        overflow: hidden;
    }
    .content-container {
        /* width: 95%; */
        margin-bottom: 5%;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;

    }
    .toolbar-options{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        height: 25vh;
    }
    .header-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* position: fixed; */
    }

    .toolbar-container{
        width: 100%;
    }
    button{
        background: none;
        display: block;
        border: none;
        height: 6em;
        width: 6em;
        outline: none;
        padding-right: 5%; 
    }
    .dropdown-close{
        font-size: 3em;
        font-weight: 100;
    }
    .toolbar-options-mobile {
        display:none;
    }
    .toolbar{
        height: 10vh;
        flex-direction: column;
        justify-content: space-around;
        background-color: transparent;
        margin-bottom: 5%;
    }
    .link-home{
        /* font-size: 3.5vh; */
        font-size: 1.5em;
        text-align: left;
        padding-left: 5%;
    }
    .mobile-toolbar{
        display: block;
        height: 4em;
        cursor: pointer;
    }
    .toolbar-options h2{
        font-size: 1em;
    }
}
@media only screen and (max-width : 768px) {
    .two-columns{
        flex-direction: column;
    }
    .two-columns p, .two-columns li {
        font-size: 2.25vh;
    }
    .bio{
        width: 100%;
        flex-direction: column;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .bio-img-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .bio-text-container{
        text-align: center;
    }
    .cv{
        height: 65%;
        padding-left: 0;
        overflow: initial;
    }
    .show-content-container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .show-title{
        width: 100%;
        text-align: center;
        padding-bottom: 5%;
        padding-right: 0%;
    }
    .show-images{
        width: 100%;
        height: initial;
        /* overflow: scroll; */
    }
    .show-images ul{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        white-space: nowrap;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .show-image ul::-webkit-scrollbar { 
        display: none; 
    }
    .img-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5%;
    } 
    .img-wrapper img{
        max-height: 100%;
        height: auto;
        /* width: auto !important; */
        max-width: 100vw;
        margin-right: 0%; 
    }
    .video{
        height: 400px;
    }
    .back-arrow{
        font-size: 3em;
    }
    .contact{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
    }
    .link{
        width: 100%;
        height: 33.333%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
