/* ALL CSS LIVES HERE... */

* {
    margin: 0;
    padding: 0;  
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}

@font-face {
    font-family: 'bluu';
    src: url('./fonts/bluunext-bold-webfont.woff2') format('woff2'),
         url('./fonts/bluunext-bold-webfont.woff') format('woff'),
         url('./fonts/bluunext-bold.ttf') format('truetype'),
         url('./fonts/bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bluu';
    src: url('./fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('./fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('./fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
 @font-face {
    font-family: 'calibre-thin';
    src: url('./fonts/CalibreThin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 769px) {
    .desktop{
        display: block;
        height: 100%;
        width:100%;
    }
    .mobile{
        display: none;
    }
    .home-title2:hover{
    -webkit-text-stroke: 1.25px #FF7CD5;
    }
}

/* Mobile ----------- */
@media only screen and (max-width : 768px) {
    .mobile-nav-bar{
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%
    }
    .mobile-nav-bar-bottom{
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%
    }
    .nav-option-1, .nav-option-2, .nav-option-3{
        color: black;
        font-size: 6vw;
        font-family: "poppins-light"
    }
    .nav-option-1{
        padding-left: 5%;
    }
    .nav-option-2{
        padding-right: 5%;
    }
    .content{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .swiper-container {
        width: 100vw;
        height: 100vh;
    }
    .swiper-slide{
        width: 100vw;
        height: 100vh;
    }
    .swiper-wrapper{
        width: 100vw;
        height: 100vh;
    }
    .home-title{
        font-size: 15vw;
    }
    .arrow-container{
        height: 3em;
        width: 100%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
    }
    .arrow-down{
        height: 100%;
        width: auto;
    }
    .home-image2{
        height: 70vh !important;
        max-width: none !important;
    }


    /*BIO*/
    .bio-container{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 0;
    }
    .bio-container img{
        height: 35vh;
        width: auto;
        box-shadow: 0 2px 4px 0 #FF7CD5;
    }
    .text-container{
        display: flex;
        flex-direction: column;
    }
    .text-container p{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .text-container h1, .text-container li{
        padding-left: 5%;
        padding-right: 5%;
    }
    .text-container h1{
        text-align: center;
    }
    .text-container li{
        font-family: "courier new"
    }
} 

/* DESKTOP*/
body{
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    cursor: url('./images/cursor/crouton.png'), default;
}
h1{
    font-family: "bluu";
    font-size: 1.2rem;
    text-transform: lowercase;
}
h2{
    /* font-family: 'courier new';
    font-size: 0.9rem;
    font-weight: 100; 
    line-height: 1.12rem; */
    font-family: 'calibre-regular';
    letter-spacing: .05em;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.25;
}
h3{
    font-family: "bluu";
    font-size: 3vh;
}
h4{
    font-family: 'courier new';
    font-size: 4.75vh;
    font-weight: 100;
}
p{
    font-family: 'calibre-regular';
    font-weight: 100;
    font-size: .75rem;
}
li{
    list-style: none;
    font-size: 1rem;
    font-family: 'calibre-regular';
    margin: 2% 0 2% 5%;
}
.back-arrow{
    font-size: 2em;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.main-container-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: auto;
    width: 100vw;
    /* padding-bottom: 1rem; */
}
.content-container{
    flex: 1;
    /* margin-top: 2.5rem; */
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap:wrap;
    padding-top: 11.75em;
}
.content-container::-webkit-scrollbar { 
    display: none; 
}
.image-wrapper {
    width:100%;
    height: 100%;
    justify-content: center;
}
.footer-container{
    width: 100%;
    /* height: 6vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 3% 5% 3% 0%;
    border-top: 1px solid lightgrey;
}

/*ENTER PAGE*/
.landing-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.home-title{
    /* -webkit-text-stroke: 1.25px blue;
    color: transparent; */
    color:blue;
    transition: color 0.5s ease;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%); 
    -o-transform: translateY(-50%); 
    transform: translateY(-50%); 
}
.home-title:hover{
    color: #FEFF94;
    text-decoration: none;
}
.home-image{
    display: block;
    max-width: 25em;
    max-height: 25em;
    width: auto;
    height: auto;
    position: relative;
}
.website-selection-container{
    width: 45%;
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
}
.website-selection-container a{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25vh;
    text-transform: lowercase;
}
.website-selection-container a h3{
    width: 100%;
    font-size: 1.25rem;
}
/*  ARTIST ENTER PAGE */
.landing-container2{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.home-title2{
    font-family: bluu,times,sans-serif;
    text-transform: capitalize;
    font-size: 12vw;
    text-align: center;
    -webkit-text-stroke: 1.25px #feff94;
    color: transparent;
    transition: -webkit-text-stroke .5s ease;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}
.home-image2{
    display: block;
    max-width: 30vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    position: relative;
}

/*NavBar*/

.toolbar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    position: fixed;
    background-color: white;
    box-shadow: 0 10px 20px 20px white;
    z-index: 1;
}
.toolbar{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 5vh;
    z-index: 99999;
    max-width: 100vw;
    margin-top: 5%;
}
.header-wrapper a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.header-wrapper a h2{
    color: #2846F6
}
button{
    display: none;
}
.link-home{
    -webkit-text-stroke: 1px #2846F6;
    font-size: 1.5em;
    color: transparent;
    cursor: pointer;
    height: auto;
    text-align: center;
    text-transform: capitalize;
}
.toolbar-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    width: 50%; 
    padding: 1% 1% 0% 1%;
}
.toolbar-option{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    text-align: center;
}   
.toolbar-option:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
    color: blue;
}
.mobile-toolbar{
    display:none;
}
.active-toolbar{
    color: blue;
}
i{
    text-transform: lowercase;
}

/*WORK*/
.work-icon:nth-child(3n){
    clear: left
}
.work-icon{
    height:60vh;
    padding: 5%;
}
.work-icon a{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.work-icon a img{
    width: auto;
}
.p1{
    height: 100%;
}
.p2{
    height: 90%;
}
.p3{
    height: 100%;
}
.p4{
    height: auto;
}
.p5{
    height: 60%;
}
.p6{
    height: 50%;
    /* margin-bottom: 65%; */
}

.work-icon a img:hover{
     -webkit-filter: drop-shadow(8px 8px 8px #FF7CD5); 
    filter: drop-shadow(8px 8px 8px #FF7CD5);
    cursor: pointer;
}   


/*BIO CV  */
.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bio-img-container{
    height: 50vh;
    display: flex;
    justify-content: right;

}
.bio-img-container img{
    max-height: 100%;
    height: 100%;
    width: auto;
}
.bio-text-container{
    padding-top: 10%;
}
.bio-text-container h2{
    padding-top: 5%;
}

/*CONTACT*/
.contact-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 10%;
}
.contact{
    width: 50%;
    height: 10em;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SHOW */
.show-content-container{
    width: 95%;
    flex: 1;
    padding-top: 11.75em;
    overflow: hidden;
    display: flex;
    margin-top: 2.5rem;
}
.show-title{
    width: 25%;
    padding-right: 5%;
}
.show-images{
    height: 90%;
    width: 75%;
    display: flex;
    white-space:nowrap;
}
.img-wrapper{
    height: 100%;
    width: 70%;
    display: inline;
}
.img-wrapper img{
    max-height:100%;
    height:auto; 
    width: auto;
    max-width:200%;
    margin-right: 15%;
    overflow-x: hidden;
}
.img-wrapper iframe{
    height:100%;
}
.show-images ul{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    overflow-x: scroll;
}

/* !!!!!!  DOULA SITE STYLES  !!!!!! */ 
.doula-content-container{
    width:85%;
    height: 100%;
    padding-top: 1.75em;
    display: flex;
    flex-direction:column;
    padding-top: 11.75em;
}
.doula-section-subtitle{
    display: none;
}
/* DOULA ABOUT */
.doula-about-main-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.doula-about-main-container .floater{
    position: fixed;
}
.doula-about-details{
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-top: 5%;
}
.doula-about-details h1{
    padding-bottom: 1.25em;
}
.doula-about-details h2{
    padding-bottom: 1.75em;
}
.doula-image-container{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
}
.doula-image{
    width: 100%;
    height: auto;
}
.doula-training-container{
    width: 100%;
}
.doula-dropdown-button{
    display: block;
    outline: none;
    border: none;
    text-align: left;
    width: 5%;
}
.doula-training{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/* .doula-training-title{
   padding-left: 1rem;
} */

.doula-training-dropdown{
    display: flex;
    align-items: center;
    width: 100%;
}

/* DOULA SERVICES */
.floater{
    position: fixed;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    background-color: white;
    padding: 2%;
    text-align: center;
    border-radius: 50%;
    height: 6em;
    width: 6em;
    top: 3em;
    left: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 4s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 30px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    75% {-moz-transform:translate(0, 30px);}
    to {-moz-transform: translate(0, -0px);}    
}
.floater:hover{
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5)); 
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    cursor: pointer;
    text-decoration: none;
}
.doula-services-main-container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
.doula-services-sub-container{
    display: flex;
    align-items: center;
}
.doula-services-sub-container:nth-child(odd){
    flex-direction: row-reverse;
}
.doula-services-sub-container:nth-child(odd) .curved-line{
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-bottom: 2%;
}
.doula-services-sub-container:last-of-type .curved-line{
    display:none;
}
.doula-service h2{
    margin-top: 1.2rem;
    padding-right: 5%;
    
}
.doula-service h1{
    color: #2846F6;
    font-size: 1.75em
}
.doula-service a h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.doula-service-details{
    margin-top: 1.2em;
    margin-left: 1.5em;
}
.doula-service{
    height: auto;
    width: 50%;
    margin: 1.75rem;
}
.doula-package{
    margin-top: 8%;
}
.doula-package h2{
    font-weight: 550;
}
.fine-print{
    text-align: left;
    line-height: 1em;
    margin: 1.75rem;
    font-size: 0.7rem;
}

/* DOULA FAQ */
.doula-faq-main-container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 5%;
}
.doula-faq-sub-container{
    display: flex;
    align-items: flex-end;
}
.doula-faq-sub-container:nth-child(2n){
    flex-direction: row-reverse;
}
.doula-faq{
    height: auto;
    width: 50%;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}
.curved-line{
    width: auto;
    height: 6rem;
    margin-top: 2%;
    margin-right: 10%;
    
}
.doula-faq-sub-container:nth-child(even) .curved-line{
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-bottom: 2%;
}
.doula-faq-sub-container:last-of-type .curved-line{
    display:none;
}
.doula-faq h2{
    margin-top: 1.2rem;
    margin-right: 10%;
}

/* DOULA TESTAMONIALS */
.doula-testamonial-main-container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 5%;
}
.doula-testamonial-sub-container{
    display: flex;
    align-items: flex-end;
}
.doula-testamonial-sub-container:nth-child(2n){
    flex-direction: row-reverse;
}
.doula-testamonial-sub-container:nth-child(even) .curved-line{
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    margin-bottom: 2%;
}
.doula-testamonial-sub-container:last-of-type .curved-line{
    display:none;
}
.doula-testamonial{
    height: auto;
    width: 50%;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.doula-testamonial h1{
    text-transform: capitalize;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 50%;
    height: 4em;
    width: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 10% 0 0;
    padding: 0.5em;
    font-size: 0.8em;
}
.testamonial-floater{
    left: initial;
    right: 5em;
    top: initial;
    z-index: 0;
}

/* DOULA CONTACT */
.doula-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
}
.doula-logo{
    height: 12em;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MOBILE STYLES */
@media only screen and (max-width: 1050px) and (min-width: 736px) {  
    /* .toolbar-options{
        width: 19em;
    } */
}
@media only screen and (max-width: 735px) and (min-width: 0px) {
    h2{
        font-size: 1rem;
    }
    .link h2{
        font-size: 2.25vh !important;
    }                                                                                                                                    
    .main-container-2{
        overflow: hidden;
    }
    .content-container {
        padding-top: 6em;
        margin-bottom: 5%;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .doula-content-container{
        padding-top: 11em;
    }
    .show-content-container{
        padding-top: 6em;
    }
    .toolbar-options{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        height: 25vh;
        padding: 1% 1% 2% 1%;
        /* border-bottom: 1px solid blue; */
        box-shadow: 0px 2px 0px rgba(0,0,0,0.5);
    }
    .toolbar-container{
        padding-top: 5%;
        width: 100%;
        box-shadow: none;
    }
    .header-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .header-wrapper a{
        max-width: 50%;
    }
    .logo-float{
        display: none;
    }
    button{
        background: none;
        display: block;
        border: none;
        height: 6em;
        width: 6em;
        outline: none;
        padding-right: 5%; 
    }
    .dropdown-close{
        font-size: 3em;
        font-weight: 100;
    }
    .toolbar-options-mobile {
        display:none;
    }
    .toolbar{
        height: 10vh;
        flex-direction: column;
        justify-content: space-around;
        background-color: transparent;
        margin-bottom: 5%;
    }
    .link-home{
        font-size: 1.5em;
        text-align: left;
    }
    .mobile-toolbar{
        display: block;
        height: 4em;
        cursor: pointer;
    }
    .toolbar-options h2{
        font-size: 1em;
    }
    .doula-section-subtitle{
        display: block;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'calibre-regular';
        font-weight: 100;
        text-transform: uppercase;
        padding-bottom: 5%;
    }
    .header-wrapper h2{
        display: none;
    }
    /* ABOUT */
    .doula-about-details {
        width: auto;
        padding-top: 1.75em;
    }
    /* LANDING */
    .website-selection-container {
        width: 75%;
    }
    /* .home-image{
        max-height: 40vh;
    } */

    /* DOULA SERVICES */
    .floater{
        height: 9em;
        width: 9em;
        position: initial;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }
    .doula-services-main-container{
        flex-direction: column;
    }
    .doula-image-container{
        width: auto;
        padding-right: 0;
        padding-top: 5%;
    }
    .doula-services-sub-container{
        flex-direction: column;
        align-items: center;
    }
    .doula-service{
        width: 100%;
    }
    .doula-service h1:nth-child(even) {
        margin-left: 0;
        text-align: right;
    }
    .doula-services-sub-container .doula-service h2:nth-child(2n) {
        margin-right: 0;
    }
    .doula-services-sub-container:nth-child(2n){
        margin-right:1.75em;
    }
    .doula-services-sub-container:nth-child(odd) {
        flex-direction: inherit;
        margin-left: 1.75em;
    }
    /* DOULA FAQ */
    .doula-faq-sub-container {
        flex-direction: column;
        align-items: center;
    }
    .doula-faq{
        width: 100%;
    }
    .doula-faq-sub-container .doula-faq h2:nth-child(2n) {
        margin-right: 0;
        text-align: left;
    }
    .doula-faq-sub-container:nth-child(2n){
        margin-left:1.75em;
        flex-direction: column;
        /* text-align: right; */
    }
    .curved-line {
        height: 5rem;
    }
    /* DOULA TESTAMONIALS */
    .doula-testamonial-sub-container{
        flex-direction: column !important;
        align-items: center;
    }
    .doula-testamonial{
        width: 100%;
    }
    .testamonial-floater{
        margin-bottom: 5%;
    }
}
@media only screen and (max-width : 768px) {
    .two-columns{
        flex-direction: column;
    }
    .two-columns p, .two-columns li {
        font-size: 2.25vh;
    }
    .bio{
        width: 100%;
        flex-direction: column;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .bio-img-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .bio-text-container{
        text-align: center;
        padding: 5% 10% 0% 10%;
    }
    .bio-text-container h2{
        text-align: left;
    }
    .cv{
        height: 65%;
        padding-left: 0;
        overflow: initial;
    }
    .show-content-container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        margin-top:1rem;
    }
    .show-title{
        width: 100%;
        text-align: center;
        padding-bottom: 5%;
        padding-right: 0%;
    }
    .show-images{
        width: 100%;
        height: initial;
    }
    .show-images ul{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        white-space: nowrap;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .show-image ul::-webkit-scrollbar { 
        display: none; 
    }
    .img-wrapper{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5%;
        margin-left: 0;
    } 
    .img-wrapper img{
        /* max-height: 100%;
        height: auto;
        max-width: 100vw; */
        width: 100%;
        height: auto;
        margin-right: 0%; 
    }
    .video{
        height: 400px;
    }
    .back-arrow{
        font-size: 3em;
    }
    .contact{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
    }
    .link{
        width: 100%;
        height: 33.333%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
